@tailwind base;
@tailwind components;
@tailwind utilities;

#skills path {
  fill: #ffc35b;
}

html,
body {
  font-family: "Montserrat";
}

.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
